*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body img{
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.page{
    width: 677px;
    height: 242px;
    margin: auto;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page h1{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 86px;
    text-align: center;

    color: #151718;
}

.page span{
    color: #DB2777;
}

.page p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: rgba(44, 46, 47, 0.9);
    margin-bottom: 72px;
}

.links{
    display: flex;
    align-items: center;
    gap: 48px;
}

.links a{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

.links a:hover{
    transform: scale(1.1);
    transition: 2s;
}

.links a:first-child{
    color: #151718;
}

.links a:last-child{
    color: white;
    background: #DB2777;
    padding: 16px 32px;
    border-radius: 80px;
}



