*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
}

.hide{
    display: none;
}

div{
    width: 428px;
    height: 273.72px;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20rem auto;
}

body,
input{
    font-family: Arial, Helvetica, sans-serif;
}

h2,
p{
    color: #34355B;
}

h2{
    font-size: 2.4rem;
}

p{
    font-size: 1.6rem;
}

form{
    display: flex;
    gap: 0;
}

input{
    width: 6rem;
    height: 5.3rem;
    background: #DCE2E9;
    border-radius: 4px 0px 0px 4px;
    padding: 1.6rem;
    font-size: 1.6rem;
    border: none;
    color: #34355B;
}

button{
    width: 8.2rem;
    height: 5.3rem;
    background: #7879F1;
    border-radius: 0px 4px 4px 0px;
    padding: 1.6rem;
    color: #FFFFFF;
    font-size: 1.6rem;
    border: none;
}


#btnReset{
    border-radius: .4rem;
    width: 16.6rem;
    height: 5.3rem;
    border: none;

}