*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background: #ECE9FD;
    border: 1px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    margin-left: 2.3rem;

}

.introduce{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 40rem;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #7158EF;

    letter-spacing: 3px;
    text-transform: uppercase;
}

div h1{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 4.8rem;

    color: #090039;
}

.txt{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: rgba(10, 0, 57, 0.64);
}

ol{
    list-style: none;
}

li{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #090039;
    display: flex;
    align-items: center;
    width: 21.7rem;
    gap: 3.8rem;
}

a{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: #090039;
}

a:hover{
    color: #523bd4;
}

span{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;

    letter-spacing: -2px;

    color: #090039;

}