*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: 'Space Mono', monospace;
    
    --fc-h1: #3E6163;
    --bc-body: #C5E4E7;
    --bc-card: #FFFFFF;
    --bc-input: #F3F8FB;
    --bc-options: #00474B;
    --ct-input: #2A5657;
    --btn-selected: #26C2AD;

}

header h1{
    font-size: 1.6rem;
    color: var(--fc-h1);
    margin: 2.8rem auto 2.4rem auto;
}

body{
    font-size: 1.6rem;
    background: var(--bc-body);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app{
    background: var(--bc-card);
    padding: 2.4rem;
    width: 100vw;
    border-radius: 1.2rem 1.2rem 0 0;

}

.bill{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: .4rem;
}

.bill input,
.qnt input{
    background: var(--bc-input);
    border: none;
    border-radius: .8rem;
    height: 4.5rem;
    min-width: 3.1rem;
    padding: 1.5rem;
    font-size: 2.6rem;
    margin-bottom: 2.5rem;
}

.bill input{
    background-image: url(./SVG/icon-dollar.svg);
    background-repeat: no-repeat;
    padding-top: 1.5rem;
    background-position: left center;
}

.select-tip{
    display: flex;
    justify-content: space-between; 
    margin-top: 1.2rem;
}

.column1,
.column2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;   
}

.select-tip .column1 button,
.select-tip .column2 button{
    height: 4.5rem;
    width: 15.5rem;
    border-radius: .6rem;
    border: none;
}

.column1 button,
.column2 button{
    background: var(--bc-options);
    color: var(--bc-card);
    font-weight: bold;
    font-size: 2.1rem;
    font-family: 'Space Mono', monospace;
}

.column2 button:last-child{
    background: var(--bc-input);
    color: var(--fc-h1);
}

.qnt{
    margin: 1.8rem auto 1.2rem;
}

.qnt #quantidade{
    margin-bottom: 2.9rem;
}

.total{
    background: var(--bc-options);
    min-width: 3.75rem;
    min-height: 2.60rem;
    border-radius: .9rem;
    padding: 1.8rem;
}

.base-inf{
    display: flex;
    justify-content: space-between;
}

.inf{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.9rem;
    margin-bottom: 1.9rem;
}

.inf p{
    font-family: 'Space Mono', monospace;
    color: var(--bc-input);
    font-size: 1.2rem;
}

.inf span{
    color: rgba(211, 213, 211, 0.611);
    font-size: 1.rem;
}

.values{
 display: flex;
 flex-direction: column;
    gap: 1.9rem;
 align-items: center;
}

.values span{
    color: var(--btn-selected);
    font-size: 2.5rem;
    font-weight: bold;
}

.clear{
    height: 5rem;
    width: 28.2rem;
    background: var(--btn-selected);
    border-radius: .8rem;
    border: none;
}

.clear span{
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    color: var(--bc-options);
    font-size: 1.6rem;
}