*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: 'Space Mono', monospace;
    
    --fc-h1: #3E6163;
    --bc-body: #C5E4E7;
    --bc-card: #FFFFFF;
    --bc-input: #F3F8FB;
    --bc-options: #00474B;
    --ct-input: #2A5657;

}

header h1{
    font-size: 1.6rem;
    color: var(--fc-h1);
    margin: 2.8rem auto 2.4rem auto;
}

body{
    font-size: 1.6rem;
    background: var(--bc-body);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app{
    background: var(--bc-card);
    padding: 2.4rem;
    width: 100vw;
    border-radius: 1.2rem 1.2rem 0 0;

}

.bill{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: .4rem;
}

.bill input{
    background: var(--bc-input);
    border: none;
    border-radius: .8rem;
    height: 4.5rem;
    min-width: 3.1rem;
    padding: 1.5rem;
    font-size: 2.6rem;
    margin-bottom: 2.5rem;
}

.select-tip{
    display: flex;
    justify-content: space-between;
    
}

.column1,
.column2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

.select-tip .column1 button,
.select-tip .column2 button{
    height: 4.5rem;
    width: 15.5rem;
    border-radius: .3rem;
    border: none;
    
}

