*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body{
    background: rgb(0, 132, 255);
}*/

header{
    margin: 20px 0 15px 0;
}

header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    text-align: center;
    color: white;
}

section div{
    background: white;
    text-align: center;
    width: 700px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 3px  3px rgba(0, 0, 0, 0.348);
}

section div img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

footer{
    text-align: center;
    color: white;
    margin-top: 20px;
}